body {
    font-family: sans-serif;
    padding: 1em;
}
form {
    margin: 0.5em 0;
    padding: 0;
    /*float: left;*/
    max-width: 31em;
    min-width: 31em;
    color: #404040;
}
form dl {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}
form dt {
    padding: 0;
    margin: 0.2em 1em 0.5em 0;
    width: 16%;
    float: left;
    clear: left;
    /*text-align: right;*/
}
form dd {
    margin: 0;
    /*padding: 0.5em 0;*/
    width: 80%;
    float: left;
    line-height: 1.5;
}
form input {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #e8edff;
    color: inherit;
    margin-left: 0.5em;
}